PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=write-campus-connect-secret-key-here
JWT_REFRESH_SECRET=write-campus-connect-refresh-secret-key-here
JWT_EXPIRE=7d
JWT_REFRESH_EXPIRE=30d

CLOUDINARY_CLOUD_NAME = "your_cloud_name",  // Public identifier for your media storage pool
CLOUDINARY_API_KEY =   "123456789012345",  // 15-digit public key identifier
CLOUDINARY_API_SECRET = "aBcdEfGhIjKlMnOp" // 32-character secret string 

GEMINI_API_KEY= PUT ANY API KEY HERE
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER= WRITE EMAIL ID HERE
EMAIL_PASS=idklukbmpukemjmm
CLIENT_URL=http://localhost:5173
